@model CMS.Web.ViewModels.SpecialitiesViewModel
@{
    ViewData["Title"] = "Specialities";
}

@{
    string getImage(string file_name)
    {
        var extension = System.IO.Path.GetExtension(file_name).ToLower();

        var imageFormats = new[] { ".jpeg", ".png", ".jpg" };

        var docFormats = new[] { ".xls", ".xlsx" };

        var pdfFormats = new[] { ".pdf" };

        var powerPointFormats = new[] { ".ppt", ".pptx" };

        if (imageFormats.Contains(extension))
        {
            return "/images/custom/" + file_name;
        }

        if (docFormats.Contains(extension))
        {
            return "/images/doc.png";
        }

        if (pdfFormats.Contains(extension))
        {
            return "/images/pdf.png";
        }

        return "/images/ppt.png";
    }
}
<div class="wshipping-content-block wshipping-breadcroumb inner-bg-1">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                <h1>Specialities</h1>
                <a href="/" title="Home">Home</a> / Specialities
            </div>

        </div>
    </div>
</div>

<div class="wshipping-content-block">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 offset-lg-3">
                <div class="section-title wow fadeInUp">
                    <h2>Our Specialities</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @{ foreach (var specialities in Model.specialities_details)
                {
                    <div class="col-12 col-lg-4">
                        <div class="single-service-item wow fadeInUp">
                            <div>
                                @{
                                    var imgSrc = "/images/";
                                    if (string.IsNullOrWhiteSpace(specialities.image_name))
                                    {
                                        imgSrc = "/img/user.png";
                                    }
                                    else
                                    {
                                        imgSrc += "custom/" + specialities.image_name;
                                    }
                                }
                                <img src="@imgSrc" alt="" style="height:260px;width:100%;" />

                            </div>
                            <div class="service-content">
                                <h4 href="~/specialities/detail/@specialities.slug#">@specialities.title</h4>
                                @if (System.Web.HttpUtility.HtmlDecode(specialities.description).Length > 100)
                                {
                                    <p class="no-margin">@Html.Raw(System.Web.HttpUtility.HtmlDecode(specialities.description).Substring(0, 100))</p>
                                }
                                else
                                {
                                    <p class="no-margin">@Html.Raw(System.Web.HttpUtility.HtmlDecode(specialities.description))</p>
                                }
                                <a href="~/specialities/detail/@specialities.slug#" title="" class="readmore-btn">Read more <i class="fa fa-angle-right"></i></a>
                                <div class="location_map"><i class=""></i></div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
ss